
body{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
  background-color: rgb(248, 248, 248);
  font-family: 'Roboto', sans-serif;
}

.jumbotron{
  background-image: url("./../img/landing1.jpg");
  color:white;
  height: 100vh;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
}

.imgscan.mt-5 {
    width: 80%;
    height: 300px;
}

.col-md-6.inputfields {
    padding-left: 100px;
    padding-right: 100px;
}



footer {
    margin-top: auto;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
    text-align: center;
}

.copyright {
    text-align: center;
}

span{
  padding:5px;
}

.btn.btn-primary,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: rgb(45, 196, 113);
    border: none;
}

.flex-column.nav.nav-pills a{
  color:black;
}

.card-title{
  font-size: 30px;
}
.blackbox{
color: rgb(45, 196, 113);
font-size: 20px;
border-radius: 8px;
padding-right: 5px;
padding-left: 5px;
}

.welcome{
  font-size:40px;
}

.card-body {
    padding: 0.5rem;
}

.users {
    font-size: 60px;
    display: flex;
    flex-direction: row;
}

.users-number{
  font-size: 60px;
  padding-left: 70px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
